<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangzhou.pcsold.dao.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guangzhou.pcsold.entity.Goods">
        <id column="goodid" property="goodid" />
        <result column="goodname" property="goodname" />
        <result column="goodtype" property="goodtype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goodid, goodname, goodtype
    </sql>

</mapper>
